:root {
    --cor-de-fundo: rgb(179, 228, 101);
    --cor-de-texto: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
}

h1 {
    color: bisque(--cor-de-texto);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.RE {
    width: 10%;
}

section {
    display: flex;


}