:root{
    --cor-de-fundo:
--cor-de-texto: #    
}

body {
    background-color: var(--cor-de-fundo);
    color:rgb(179, 228, 101)
}
header{
    display: flex;
}

   img{
    width: 20%;
   }