:root{
    --cor-de-fundo:
--cor-de-texto: #    
}

body {
    background-color: var(--cor-de-fundo);
    color:rgb(179, 228, 101)
}
h1{
    color: bisque(--cor-de-texto);



}
header{
    display: flex;
    justify-content: space-around;
   align-items: center; 

}

.RE{
    width: 10%;
}
section{
    display: flex;


}